# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build / Cache
# =========================
dist/
build/
coverage/

# =========================
# Runtime files
# =========================
*.pid
*.seed
*.log

# =========================
# Temporary files
# =========================
tmp/
temp/


backend/node_modules/
backend/.env
